body {
  color: lightblue !important ;
  background-color: aliceblue !important;
}

.todo-item {
  border: 1px solid lightblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-content {
  padding: 1em;
}

.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid lightblue;
}
.input-box:focus {
  outline: none;
}
.button-add {
  height: 85%;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
  transition: background-color 0.3s;
  /* padding: 1rem 0.75rem; */
}
.button-add:hover {
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}
.button-add.btn-active {
  background-color: lightblue !important;
  color: white !important;
}

.button-delete {
  background-color: white;
  border: 2px solid lightblue;
  color: lightblue;
  margin: 10px;
}
.button-delete:hover {
  background-color: lightblue;
  color: #ffffff;
}

.item-complete {
  background-color: gainsboro;
  color: white;
}

.item-complete.cancel-line {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.login-box {
  border: 1px solid lightblue;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.login-box label {
  font-weight: 700;
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

/* .button-primary {
  background-color: lightblue;
  color: #ffffff;
  border: none;
} */

.red-error {
  color: red;
}
.text-truncate-multiline {
  min-height: 48px; /* 최소 높이 설정 */
  max-height: 110px; /* 최대 높이 설정 */
  overflow: hidden;
  /* display: -webkit-box; */
  display: block;
  line-clamp: 2; /* 표준 속성 */
  -webkit-line-clamp: 2;
  box-orient: vertical; /* 표준 속성 */
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.text-truncate-title-multiline {
  min-height: 50px; /* 최소 높이 설정 */
  max-height: 70px; /* 최대 높이 설정 */
  overflow: hidden;
  /* display: -webkit-box; */
  display: block;
  line-clamp: 2; /* 표준 속성 */
  -webkit-line-clamp: 2;
  box-orient: vertical; /* 표준 속성 */
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.custom-button:disabled {
  background-color: #d6d6d6; /* 비활성화된 배경색 */
  color: #888; /* 비활성화된 텍스트 색 */
  border-color: #ccc; /* 비활성화된 테두리 색 */
  cursor: not-allowed; /* 마우스 커서 */
}
